.CurrentWeather .icon {
  margin-right: 15px;
}

.CurrentWeather ul {
  padding-left: 30px;
}

.CurrentWeather .center {
  text-align: center;
}
.CurrentWeather .float {
  float: left;
}

.CurrentWeather .temp {
  font-size: 55px;
}

.CurrentWeather .fahrenheit {
  font-size: 17px;
  margin-left: -9px;
  position: relative;
  top: -23px;
}

@media (max-width: 575.98px) {
  .CurrentWeather {
    font-size: larger;
    text-align: center;
  }
  .CurrentWeather h1 {
    font-size: 45px;
  }
  .CurrentWeather ul {
    padding-left: 0;
  }
  .CurrentWeather .float {
    float: none;
  }
}

@media (max-width: 300.98px) {
  .CurrentWeather {
    font-size: 17px;
    text-align: center;
  }
  .CurrentWeather h1 {
    font-size: 40px;
  }
  .CurrentWeather ul {
    padding-left: 0;
  }
  .CurrentWeather .float {
    float: none;
  }
  .CurrentWeather .temp {
    font-size: 45px;
  }
  .CurrentWeather .fahrenheit {
    font-size: 14px;
  }
}
