.Search .search-bar-form {
  width: 80%;
  padding: 6px;
  border-radius: 20px;
  border: thin solid;
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}

.Search .btn {
  margin-left: 10px;
}

@media (max-width: 575.98px) {
  .Search .search-bar-form {
    width: 68%;
  }
}

@media (max-width: 300.98px) {
  .Search .search-bar-form {
    width: 55%;
  }
  .Search .btn {
    padding: 6px 8px;
  }
}
